@{
    ViewBag.Title = "Cineplanet Perú |";
}

<main>

    <section class="row" aria-labelledby="tituloPeliculas">
        <h1 id="tituloPeliculas" class="col-12">Películas en Estreno</h1>
    </section>


    <div class="row">
        <div class="col-md-3 col-sm-6 mb-4">
            <img src="https://cdn.apis.cineplanet.com.pe/CDN/media/entity/get/FilmPosterGraphic/HO00002093?referenceScheme=HeadOffice&allowPlaceHolder=true" class="img-fluid" alt="Moana 2">
            <p class="text-center">Moana 2: Una nueva aventura oceánica en la que Moana y Maui se enfrentan a desafíos épicos, navegando a través de mares desconocidos para cumplir una misión encomendada por sus ancestros.</p>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <img src="https://cdn.apis.cineplanet.com.pe/CDN/media/entity/get/FilmPosterGraphic/HO00002281?referenceScheme=HeadOffice&allowPlaceHolder=true" class="img-fluid" alt="Bagman">
            <p class="text-center">Bagman: Un thriller emocionante donde un hombre queda atrapado en un peligroso juego mortal tras ser testigo de un crimen. Sus decisiones serán clave para sobrevivir.</p>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <img src="https://cdn.apis.cineplanet.com.pe/CDN/media/entity/get/FilmPosterGraphic/HO00002009?referenceScheme=HeadOffice&allowPlaceHolder=true" class="img-fluid" alt="Wicked">
            <p class="text-center">Wicked: La historia de las icónicas brujas de Oz antes de los eventos de "El Mago de Oz". Un relato lleno de magia, intriga y sorpresas que encantará a todos los fans del musical.</p>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <img src="https://cdn.apis.cineplanet.com.pe/CDN/media/entity/get/FilmPosterGraphic/HO00002092?referenceScheme=HeadOffice&allowPlaceHolder=true" class="img-fluid" alt="Gladiador 2">
            <p class="text-center">Gladiador 2: La esperada secuela del clásico de Ridley Scott. Esta vez, seguimos a Lucius, el hijo de Lucilla, mientras se enfrenta a su propio destino en la arena del Imperio.</p>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <img src="https://cdn.apis.cineplanet.com.pe/CDN/media/entity/get/FilmPosterGraphic/HO00002243?referenceScheme=HeadOffice&allowPlaceHolder=true" class="img-fluid" alt="El Señor de los Anillos: La Guerra de los Rohirrim">
            <p class="text-center">El Señor de los Anillos: La Guerra de los Rohirrim: Una épica animada que narra los eventos que dieron origen al legendario Abismo de Helm y la historia del rey Helm Hammerhand.</p>
        </div>
    </div>


</main>
